
.blogs {
    padding-top: 143px;
    padding-bottom: 70px;
}

.blogs-title {
    color: var(--accent-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 48px;
font-weight: 400;
line-height: 1.3o;
letter-spacing: 0.22px;
margin-bottom: 21px;
}

.blogs-text {
   
    color: var(--minor-color);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.blogs-desc {
    color: var(--minor-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
}