
.letter {
    padding-bottom: 141px;
}

.letter-list {
    display: flex;
    flex-wrap: wrap;
 gap: 20px;
 justify-content: center;
   
}

.letter-item {
    width: 387px;
    height: 515px;
border-radius: 62px;
border: 1px solid var(--hero-color);
background-image: url(../images/kitchen-desing-two.png);
background-repeat: no-repeat;
background-position: 21px 21px;
}

.letter-item:nth-child(2) {
    background-image: url(../images/living-room.png);
    background-repeat: no-repeat;
background-position: 21px 21px;
}

.letter-item:nth-child(3) {
    background-image: url(../images/min-two.png);
    background-repeat: no-repeat;
background-position: 21px 21px;
}

.letter-item:nth-child(4) {
    background-image: url(../images/living-room-two.png);
    background-repeat: no-repeat;
background-position: 21px 21px;
}

.letter-item:nth-child(5) {
    background-image: url(../images/kitchen-des.png);
    background-repeat: no-repeat;
background-position: 21px 21px;
}

.letter-item:nth-child(6) {
    background-image: url(../images/minimalist.png);
    background-repeat: no-repeat;
background-position: 21px 21px;
}

.letter-btn {
    color: var(--minor-color);
    text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
padding: 10px;
letter-spacing: 0.22px;
border-radius: 8px 8px 8px 0px;
background: var(--background-color);
margin-top: 244px;
margin-left: 45px;

}


.letter-title {
    width: 338px;
    color: var(--accent-color);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 1.3; 
    letter-spacing: 0.5px;
    margin-top: 45px;
    margin-left: 21px;
    margin-bottom: 34px;
}

.letter-box {
    display: flex;
    align-items: center;
}

.letter-text {
    color: var(--minor-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    margin-right: auto;
    margin-left: 21px;
}

.letter-button {
    margin-right: 22px;
}

.letter-img {
    width: 52px;
}