.reccent-title {
    color: var(--accent-color);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 47px;
    font-weight: 400;
    line-height: 1.32;
    letter-spacing: 0.22px;
    margin-bottom: 20px;
}

.reccent-text {
    color: var(--accent-color);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.reccent-desc {
    color: var(--minor-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.22px;
margin-bottom: 71px;
}

.reccent-btn {
    margin-left: auto;
}

.reccent-desc {
    color: var(--minor-color);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}