:root {
    --accent-color: #292F36;
    --minor-color: #4D5053;
    --numbers-color: #CDA274;
    --background-color: #FFFFFF;
    --site-color: #F4F0EC;
    --hero-color: #E7E7E7;
    --interno-color: #E5E5E5;
}